
@{
    ViewBag.Title = "SendPasswordToEmail";
    Layout = "~/Areas/Client/Views/Shared/_layout.cshtml";
}
<!--end of signup form popup-->
<div class="page-single-2">
    <div class="container">
        <div class="row ipad-width">
            <div class="left-content">
                <a href="index-2.html"><img class="md-logo" src="~/Areas/Client/assets/images/logo1.png" alt=""></a>
                <h1>Coming soon</h1>
                <p>We are working hard to get back to you in</p>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3>Enter your password reset email</h3>
                        <form action="#">
                            <input class="email" id="email" name="email" type="text" placeholder="Enter your email">
                            <input class="redbtn" type="submit" value="Send Password" onclick="CommentFunction()">
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <img class="cm-img" src="~/Areas/Client/assets/images/uploads/cm-img.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function CommentFunction() {
        var email = $("#email").val();
            $.post('/Client/Home/SendPasswordToEmailPost', { email: email},
                function(response){
                    if (response > 0) {
                        alert("OK");
                    }
                    else {
                        alert("Error");
                    }
            });
    }
</script>