
@{
    ViewBag.Title = "SendPasswordToEmailPost";
    Layout = "~/Areas/Client/Views/Shared/_layout.cshtml";
}
<div class="landing-hero">
    <img src="~/Areas/Client/assets/images/logo1.png" alt="Logo">
    <div class="row landing-hero-text">
        <h2>YOUR PASSWORD HAD BEEN SEND TO YOUR EMAIL</h2>
        <h2 class="text-yellow">CHECK YOUR MAIL TO GET YOUR PASSWORD</h2>
        <h2>LOVE YOU 3000</h2>
    </div>
    <a href="/Client/Home/Index" class="redbtn" id="discover-now">Go Home</a>
</div>