
@{
    Layout = null;
}
<!doctype html>
<html class="no-js " lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>LemonCat DVD Home</title>
    <link rel="icon" href="~/Areas/Admin/favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Areas/Admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--SweetAlert custom-->
    <link href="~/Areas/Admin/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" rel="stylesheet" />
    @*<link href="~/Areas/Admin/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />*@

    <link href="~/Areas/Admin/assets/plugins/morrisjs/morris.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/plugins/dropify/css/dropify.min.css" rel="stylesheet" />
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/Areas/Admin/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="~/Areas/Admin/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/Areas/Admin/assets/css/style.min.css" rel="stylesheet" />
    <!-- Summer Note Editor -->
    <link href="~/Areas/Admin/assets/plugins/summernote/dist/summernote.css" rel="stylesheet" />
    <!--Table Index Css-->
    @*<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@
    <!-- JQuery DataTable Css -->
    <link href="~/Areas/Admin/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body class="theme-blush">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="~/Areas/Admin/assets/images/loader.svg" width="48" height="48" alt="Aero"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- Right Icon menu Sidebar -->
    <div class="navbar-right">
        <ul class="navbar-nav">
            <li><a href="/Client/Home" class="app_google_drive" title=""><i class="zmdi zmdi-hc-fw"></i></a></li>
            <li><a href="javascript:void(0);" class="app_google_drive" title=""><i class="zmdi zmdi-hc-fw"></i></a></li>
            <li><a href="javascript:void(0);" class="app_group_work" title=""><i class="zmdi zmdi-hc-fw"></i></a></li>
            <li><a href="javascript:void(0);" class="js-right-sidebar" title="Setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
            <li><a href="/ClientDVD/Login" onclick="Logout()" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
        </ul>
    </div>

    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <div class="navbar-brand">
            <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
            <a href="#"><img src="~/Areas/Admin/assets/images/logo.svg" width="25" alt="Aero"><span class="m-l-10">LemonCat</span></a>
        </div>
        <div class="menu">
            <ul class="list">
                <li>
                    <div class="user-info">
                        @if (Session["CLIENT_USER_SESSION"] != null)
                        {
                            <a class="image" href="#"><img src="@((Session["CLIENT_USER_SESSION"] as UserLogin).AvataPath.ToString())" alt="User"></a>
                        }
                        else
                        {
                            <a class="image" href="#"><img src="~/Areas/Admin/assets/images/profile_av.jpg" alt="User"></a>
                        }
                        <div class="detail">
                            @if (Session["CLIENT_USER_SESSION"] != null)
                            {
                                <h4>@((Session["CLIENT_USER_SESSION"] as UserLogin).Name.ToString())</h4>
                            }
                            else
                            {
                                <h4>Unknown</h4>
                            }
                            <small>User</small>
                        </div>
                    </div>
                </li>
                <li class="open"><a href="/ClientDVD/Ticket/"><i class="zmdi zmdi-ticket-star"></i><span>Booking Ticket</span></a></li>
                <li class="open"><a href="/ClientDVD/DVD"><i class="zmdi zmdi-disc-full"></i><span>Buy DVD</span></a></li>
                <li class="open"><a href="/ClientDVD/DVD/ManagerBag"><i class="zmdi zmdi-plus-square"></i><span>Bag</span></a></li>
                <li class="open"><a href="/ClientDVD/DVD/BillManager"><i class="zmdi zmdi-accounts-list"></i><span>Order List</span></a></li>
                <li class="open"><a href="/ClientDVD/Ticket/BookingList"><i class="zmdi zmdi-tv-list"></i><span>Booking List</span></a></li>
            </ul>
        </div>
    </aside>

    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <ul class="nav nav-tabs sm">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="setting">
                <div class="slim_scroll">
                    <div class="card">
                        <h6>Theme Option</h6>
                        <div class="light_dark">
                            <div class="radio">
                                <input type="radio" name="radio1" id="lighttheme" value="light" checked="">
                                <label for="lighttheme">Light Mode</label>
                            </div>
                            <div class="radio mb-0">
                                <input type="radio" name="radio1" id="darktheme" value="dark">
                                <label for="darktheme">Dark Mode</label>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h6>Color Skins</h6>
                        <ul class="choose-skin list-unstyled">
                            <li data-theme="purple"><div class="purple"></div></li>
                            <li data-theme="blue"><div class="blue"></div></li>
                            <li data-theme="cyan"><div class="cyan"></div></li>
                            <li data-theme="green"><div class="green"></div></li>
                            <li data-theme="orange"><div class="orange"></div></li>
                            <li data-theme="blush" class="active"><div class="blush"></div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane right_chat" id="chat">
                <div class="slim_scroll">
                    <div class="card">
                        <ul class="list-unstyled">
                            <li class="online">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="~/Areas/Admin/assets/images/xs/avatar4.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Sophia <small class="float-right">11:00AM</small></span>
                                            <span class="message">There are many variations of passages of Lorem Ipsum available</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="online">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="~/Areas/Admin/assets/images/xs/avatar5.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Grayson <small class="float-right">11:30AM</small></span>
                                            <span class="message">All the Lorem Ipsum generators on the</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="offline">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="~/Areas/Admin/assets/images/xs/avatar2.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Isabella <small class="float-right">11:31AM</small></span>
                                            <span class="message">Contrary to popular belief, Lorem Ipsum</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="me">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="~/Areas/Admin/assets/images/xs/avatar1.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">John <small class="float-right">05:00PM</small></span>
                                            <span class="message">It is a long established fact that a reader</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="online">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="~/Areas/Admin/assets/images/xs/avatar3.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Alexander <small class="float-right">06:08PM</small></span>
                                            <span class="message">Richard McClintock, a Latin professor</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    @RenderBody()

    <!-- Jquery Core Js -->
    <script src="~/Areas/Admin/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
    <!--Delete with ajax-->
    @*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="~/Areas/Admin/assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->
    <script src="~/Areas/Admin/assets/plugins/dropzone/dropzone.js"></script> <!-- Dropzone Plugin Js -->
    <script src="~/Areas/Admin/assets/bundles/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
    <script src="~/Areas/Admin/assets/bundles/jvectormap.bundle.js"></script>  @*JVectorMap Plugin Js*@
    <script src="~/Areas/Admin/assets/bundles/sparkline.bundle.js"></script>  @*Sparkline Plugin Js*@
    @*<script src="~/Areas/Admin/assets/bundles/c3.bundle.js"></script>*@
    @*<script src="~/Areas/Admin/assets/bundles/footable.bundle.js"></script>*@ <!-- Lib Scripts Plugin Js -->
    <script src="~/Areas/Admin/assets/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js -->
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/Areas/Admin/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!--SweetAlert custom-->
    <script src="~/Areas/Admin/assets/plugins/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/Areas/Admin/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob Plugin Js -->
    <script src="~/Areas/Admin/assets/bundles/mainscripts.bundle.js"></script>
    <script src="~/Areas/Admin/assets/plugins/summernote/dist/summernote.js"></script><!-- summernote Js -->
    <!--SweetAlert custom-->
    <script src="~/Areas/Admin/assets/js/pages/ui/sweetalert.js"></script>
    @*<script src="~/Areas/Admin/assets/js/pages/forms/basic-form-elements.js"></script>*@
    @*<script src="~/Areas/Admin/assets/js/pages/tables/footable.js"></script>*@<!-- Custom Js -->
    @*<script src="~/Areas/Admin/assets/js/pages/index.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@

    <!--dropify File upload-->
    <script src="~/Areas/Admin/assets/plugins/dropify/js/dropify.min.js"></script>
    <script src="~/Areas/Admin/assets/js/pages/forms/dropify.js"></script>

    <script src="~/Areas/Admin/assets/js/pages/ecommerce.js"></script>
    <script src="~/Areas/Admin/assets/js/pages/charts/jquery-knob.min.js"></script>

    <script src="~/Areas/Admin/assets/js/pages/forms/basic-form-elements.js"></script>
    <!--Table Index-->
    @*<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>*@
    <script src="~/Areas/Admin/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/Areas/Admin/assets/js/pages/tables/jquery-datatable.js"></script>
    <!--Form wizard-->
    <script src="~/Areas/Admin/assets/plugins/jquery-steps/jquery.steps.js"></script> <!-- JQuery Steps Plugin Js -->
    <script src="~/Areas/Admin/assets/js/pages/forms/form-wizard.js"></script>
    <!--Change Status Ajax-->
    <script src="~/Areas/Admin/assets/js/Admin/userController.js"></script>
    <script src="~/Areas/Admin/assets/js/Admin/ReviewController.js"></script>
    <script src="~/Areas/Admin/assets/js/Admin/NewsController.js"></script>
    <script>
        function Logout() {
            $.post('/ClientDVD/Logout', {},
                function (response) {
                    if (response.status == false) {

                    }
                    else {

                    }
                });
        }

    </script>
</body>
</html>
