
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_layout.cshtml";
}
    <div class="page-single-2">
        <div class="container">
            <div class="row">
                <div class="middle-content">
                    <a href="index-2.html"><img class="md-logo" src="~/Areas/Client/assets/images/logo1.png" alt=""></a>
                    <img src="~/Areas/Client/assets/uploads/err-img.png" alt="">
                    <h1>This account has been locked :))</h1>
                    <a href="#" class="redbtn">go home</a>
                </div>
            </div>
        </div>
    </div>